.report-main{
    position: absolute;
    display: flex;
    flex-direction: row;
}
.ehr-heading{
    position: absolute;
    top:5%;
    left:40%;
}
.report-cont{
    position: relative;
    display: flex;
    padding: 10vh;
    width: 90vw;
}