.doctor-profile-main-cont {
    position: relative;
    display: block;
    flex-direction: column;
    /* justify-content: center; */
    left: 250px;
    /* align-items: flex-start; */
    gap: 100px;
    height: 100vh;
    width: 100vw;
}
.doctor-profile-left-cont{
    position: relative;
    padding: 50px;
    right: 0px;
}
.doctor-profile-right-cont {
    display: block;
    position: relative;
    left: 700px;
    bottom: 900px;
    height: 800px;
}

.doctor-appointment-cont{
    position: relative;
    bottom: 800px;
    /* right: 300px; */
}