.verification-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: rgba(248, 234, 236, 1);
}
.verification-logo {
    position: relative;
    display: flex;
    height: 90vh;
    right: 0%;
}
.verification-image {
    position: relative;
    right: 0%;
    display: flex;
    width: 60vw;
    height: 90vh;
    /* background-color: red; */
}

.verification-logo {
    width: 100%;
    height: auto;
}

.verification-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.verification-headContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.verification-heading {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.verification-roundLine {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 5px;
    border-radius: 50px;
    border: none;
    top: 100%;
    outline: none;
    background-color: rgba(255, 168, 177, 1);
}

.verification-input {
    font-family: 'Poppins';
    display: block;
    border: none;
    background: none;
    color: #321E21;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    width: 25em;
    
}
.otp-label{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 10px;
    opacity: 0;
    animation: fadeInSlideUp 1s ease forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.verification-input::placeholder {
    color: #321E21;
    opacity: 1;
}

.verification-input:focus {
    color: #000000;
    border-color: #000000;
    outline: none;
}

.verification-submit_button {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 24px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 168, 177, 1);
    border: none;
    outline: none;
    transition: background-color 0.3s, border 0.3s;
}

.verification-submit_button:hover {
    background-color: transparent;
    padding: 8px 50px;
    border: 5px solid #FFA8B1;
    cursor: pointer;
}

.verification-timer-text {
    position: relative;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 800px) {
    .verification-image {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .verification-image {
        width: 50%;
    }
}